.navbar {
  border-bottom: 1px solid $primary;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
  }
}

.navbar-blog {
  padding: 0.1rem !important;
  border-bottom: 1px solid transparent;
}

@media (prefers-color-scheme: light) {
  .navbar {
    background-color: #fffafa;
  }
}

// For some reason the hover colour is wrong in dark mode, this doesn't fix it
// @media (prefers-color-scheme: dark) {
//   .nav-link:not(.active):hover {
//     color: $success !important;
//   }
// }
