.post-pagination {
  padding: 1em 2em;

  .btn {
    border-color: #dee2e6;
    color: black;
  }

  .disabled {
    color: #ced4da !important;
  }

  a {
    text-decoration: none !important;

    &:hover {
      color: black !important;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .post-pagination {
    .btn {
      border-color: #444;
      color: white;
    }

    .disabled {
      color: #888 !important;
    }

    a:hover {
      color: white !important;
    }
  }
}
