@media (prefers-color-scheme: light) {
  #banner {
    position: relative;
    background: url("../images/pink-geo-pattern.jpg");
    min-height: 30px;
  }
}

@media (prefers-color-scheme: dark) {
  #banner {
    position: relative;
    background: url("../images/dark-leaves.jpg");
    min-height: 30px;
  }
}
