// Adapted from Minimal Mistakes
div.highlighter-rouge,
.highlight {
  position: relative;
  margin-bottom: 1em;
  line-height: 1.8;
  margin: 1rem;

  > pre,
  pre.highlight {
    margin: 0;
  }
}

.highlight table {
  margin-bottom: 0;
  font-size: 1em;
  border: 0;

  td {
    padding: 0.5em;
    width: calc(100% - 1em);
    border: 0;

    /* line numbers*/
    &.gutter,
    &.rouge-gutter {
      padding-right: 0.4em;
      width: 1em;
      text-align: right;
    }

    /* code */
    &.code,
    &.rouge-code {
      padding-left: 1em;
    }
  }

  pre {
    margin: 0;
  }
}

.highlight pre {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .gutter,
  td.rouge-gutter {
    color: #888;
    border-right: 1px solid #444 !important;
  }

  pre.highlight {
    border: 1px solid #444;
  }

  .lineno {
    color: #888;
  }
}

@media (prefers-color-scheme: light) {
  .gutter,
  td.rouge-gutter {
    color: #ced4da;
    border-right: 1px solid #dee2e6 !important;
  }

  pre.highlight {
    border: 1px solid #dee2e6;
  }

  .lineno {
    color: #ced4da;
  }
}

// .highlight {
//   margin: 0.7rem;
//   // max-height: 300px;
//   overflow: scroll;
// }

// div.highlight {
//   white-space: nowrap; // this sets all children inside to nowrap
//   border: 1px solid white;
//   max-width: 90%;
// }

// .highlight pre {
//   // overflow-x: auto; // this sets the scrolling in x
//   // word-wrap: normal;
//   // border: 1px solid yellow;
//   // padding: 0.1rem;

//   // display: inline-block;
// }

// .lineno {
//   // color: white;
//   padding-right: 0.8rem;
// }

// td.rouge-gutter {
//   border-right: 1px solid white;
// }
