footer {
  border-top: 1px solid $primary;
  height: 95px;
}

.footer-text {
  padding-top: 10px;
  font-size: 0.9rem;
}

@media (prefers-color-scheme: light) {
  footer {
    background-color: #fffafa;
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    background-color: #222;
  }
  .footer-text {
    color: rgba(255, 255, 255, 0.6);
  }
}
