.navbar {
  border-bottom: 1px solid $primary;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
  }

  h3 {
    &:hover {
      color: $success !important;
    }
  }
}

.navbar-blog {
  padding: 0.1rem !important;
  border-bottom: 1px solid transparent;
}

@media (prefers-color-scheme: light) {
  .navbar {
    background-color: #fffafa;
  }
}
