<nav class="navbar navbar-expand-lg navbar-dark body-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <h3 class="d-inline align-middle pl-3 text-primary">Miranda Making Things</h3>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
                
        <li {% if page.url contains "/blog/" %} class="nav-item active ml-auto" {% else %} class="nav-item ml-auto" {% endif %}>
          <a class="nav-link" href="{{ site.baseurl }}/blog/">Blog</a>
        </li>
        
        <li {% if page.url contains "/portfolio/" %} class="nav-item active ml-auto" {% else %} class="nav-item ml-auto" {% endif %}>
          <a class="nav-link" href="{{ site.baseurl }}/portfolio/">Portfolio</a>
        </li>
        
        <li {% if page.url=="/about/" %} class="nav-item active ml-auto" {% else %} class="nav-item ml-auto" {% endif %}>
          <a class="nav-link" href="{{ site.baseurl }}/about/">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% if page.url contains "/blog/" %}
<nav class="navbar navbar-expand navbar-dark body-bg navbar-blog">
  <div class="container-fluid">
    

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

        <li {% if page.url contains "/feed.xml" %} class="nav-item active ml-auto" {% else %} class="nav-item ml-auto" {% endif
          %}>
          <a class="nav-link" href="{{ site.baseurl }}/blog/feed.xml"><i class="fas fa-rss"></i></a>
        </li>
        
        <li {% if page.url contains "/tags/" %} class="nav-item active ml-auto" {% else %} class="nav-item ml-auto" {%
          endif %}>
          <a class="nav-link" href="{{ site.baseurl }}/blog/tags/">Tags</a>
        </li>

        <li {% if page.url contains "/archive/" %} class="nav-item active ml-auto" {% else %} class="nav-item ml-auto"
          {% endif %}>
          <a class="nav-link" href="{{ site.baseurl }}/blog/archive/">Archive</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
{% endif %}
