<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="{{ site.url }}/assets/images/favicon-star.png" />

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />

  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

  <!-- The page supports both dark and light color schemes,
          and the page author prefers / default is DARK. -->
  <meta name="color-scheme" content="dark light">

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.0.1/dist/css/bootstrap-unlit.min.css" rel="stylesheet"> -->

</head>
