<section id="posts" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        {% for post in paginator.posts %}
        
        <div>
          <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
          <p class="post-meta">
            <i class="far fa-calendar-alt"></i> {{ post.date | date: "%b %-d, %Y" }} ·
            {% include read-time.html content=post.content %}
          </p>
        
          {% if post.excerpt %}<p class="post-excerpt">{{ post.excerpt | markdownify | strip_html
            | truncate: 200 }}</p>{% endif %}
        
        </div>


        {% endfor %}
      </div>
    </div>
  </div>
</section>
