:root {
  color-scheme: dark light;
}

/* body *:not(nav *) {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  overflow: auto;
} */

header {
  /* border: 1px solid red; */
}

main {
  /* border: 1px solid blue; */
}

footer {
  /* border: 1px solid green; */
}
