$primary: #e0006c;
$white: #fff;
$black: #444545;
$info: #2fe6de;
$secondary: #c1afe8;
$success: #b3ffcc;
// $link-hover-color: darken($link-color, 20%);
$warning: #ffc032;
$danger: #990000;
$gray-900: #444545;
$pastel-pink: #fffafa;
