---
layout: archive
---

{{ content }}

Please go to my <a href="http://www.mirandawilson.tech/blog/">blog</a> to read
about what I've been up to lately!
<br/>
I'm in the process of migrating the blog over to /blog from here, so this is a
work in progress.




<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
 -->
